# Entorno y Servidor
NODE_ENV=production
PORT=3000

# Autenticación y Seguridad
JWT_SECRET=super_secreto_para_firmar_tokens_jwt_vetcare

# Integración con Google Gemini AI
GEMINI_API_KEY=

# Base de Datos (Para producción con PostgreSQL en Render / Neon / Supabase)
DATABASE_URL=postgresql://usuario:password@host:5432/vetcare_db
